/* Basic setup */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: garamond, helvetica, arial;
  padding-top: 40px;
}

.content {width: 1280px; margin: 0 auto; }

h1 {
  background-color: black;
  color: white;
  height: 40px;
  font-size: 24px;
  font-weight: normal;
  left: 0;
  line-height: 40px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
}
h1 a {
  border-bottom: 1px solid white;
  color: white;
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
}

p {
  padding: 0 50px;
  margin: 30px 0;
  font-size: 24px;
}

sup { vertical-align: top; font-size: 0.6em; }

/* To-do slideshow and footer */

.slideshow, .to-do {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: black;
}

.to-do {width: 1280px; margin: 0 auto; }

.slideshow { overflow: hidden; white-space: nowrap; }
.to-do, footer {
  padding: 20px 70px;
  margin: 10px 0 0;
  background-color: black;
}

.slideshow img { border: 2px solid black; }
.slideshow img:hover { border: 2px solid white; }

footer {margin: 0; }
footer p, footer a { color: white; padding: 0; font-size: 18px; }

.wide img { width: 240px; height: 200px; }

.tall img { width: 150px; height: 200px; }

/* Backgrounds */

.photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}
.photo span, .photo p {
  background-color:rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: white;
  display: block;
  left: 50%;
  margin-left: -640px;
  font-size: 24px;
  padding: 20px 50px;
  position: absolute;
  text-shadow: 0 2px 0 black, 0 0 10px black;
  width: 1180px;
}

/* Specific background settings */
.canal {
  background-image: url(../images/garonne.jpg);
}

.countryside {
  background-image: url(../images/countryside.jpg);
}

.cross {
  background-image: url(../images/cross-3.jpg);
  height: 850px;
}

.moissac {
  background-image: url(../images/moissac.jpg);
}

.walk {
  background-image: url(../images/walking.jpg);
}

.endure {
  background-image: url(../images/endure.jpg);
  height: 850px;
}

.argh {
  background-image: url(../images/argh.jpg);
}

.tire {
  background-image: url(../images/tire.jpg);
  height: 750px;
}

.tire p {
  bottom: auto;
  top: 0;
}

.group {
  background-image: url(../images/group.jpg);
}
